<ion-tabs>
 
  <ion-tab-bar slot="bottom">

    <ion-tab-button tab="Home">
      <ion-icon name="home"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>
<!--
    <ion-tab-button tab="Detail">
      <ion-icon name="grid"></ion-icon>
      <ion-label>Detail</ion-label>
    </ion-tab-button>
-->
    <ion-tab-button tab="Approved">
      <ion-icon name="checkmark"></ion-icon>
      <ion-label>Approved</ion-label>
    </ion-tab-button>
    
    <ion-tab-button tab="Rejected">
      <ion-icon name="trash"></ion-icon>
      <ion-label>Rejected</ion-label>
    </ion-tab-button>
 
  <ion-tab-button tab="Contact">
    <ion-icon name="person"></ion-icon>
    <ion-label>contact</ion-label>
  </ion-tab-button>

  <ion-tab-button tab="About">
    <ion-icon name="grid"></ion-icon>
    <ion-label>About</ion-label>
  </ion-tab-button>
</ion-tab-bar>
</ion-tabs>
